__pycache__/app.cpython-310.pyc
__pycache__/setup_db.cpython-310.pyc
database.db
.DS_Store
__pycache__/app.cpython-310.pyc
__pycache__/crud.cpython-310.pyc
__pycache__/setup_db.cpython-310.pyc
__pycache__/test_db.cpython-310-pytest-7.2.1.pyc
__pycache__/app.cpython-310.pyc
__pycache__/setup_db.cpython-310.pyc
__pycache__/app.cpython-310.pyc
__pycache__/setup_db.cpython-310.pyc
__pycache__/app.cpython-310.pyc
__pycache__/setup_db.cpython-310.pyc
Models/__pycache__/setup_db.cpython-310.pyc
.gitignore
Models/__pycache__/user.cpython-310.pyc
app_to_add.py
app_to_add.py
