__pycache__/app.cpython-310.pyc
__pycache__/setup_db.cpython-310.pyc
.DS_Store
__pycache__/app.cpython-310.pyc
__pycache__/crud.cpython-310.pyc
__pycache__/setup_db.cpython-310.pyc
__pycache__/test_db.cpython-310-pytest-7.2.1.pyc
__pycache__/app.cpython-310.pyc
__pycache__/setup_db.cpython-310.pyc
__pycache__/app.cpython-310.pyc
__pycache__/setup_db.cpython-310.pyc
__pycache__/app.cpython-310.pyc
__pycache__/setup_db.cpython-310.pyc
Models/__pycache__/setup_db.cpython-310.pyc
.gitignore
Models/__pycache__/user.cpython-310.pyc
app_to_add.py
app_to_add.py
fake_data.py
app/__pycache__/__init__.cpython-310.pyc
.gitignore
app/__pycache__/database.cpython-310.pyc
app/crud/__pycache__/crud_attendance.cpython-310.pyc
app/crud/__pycache__/crud_course.cpython-310.pyc
app/crud/__pycache__/crud_lead.cpython-310.pyc
app/crud/__pycache__/crud_student_course.cpython-310.pyc
app/crud/__pycache__/crud_student.cpython-310.pyc
app/crud/__pycache__/crud_teacher_course.cpython-310.pyc
app/crud/__pycache__/crud_teacher.cpython-310.pyc
app/crud/__pycache__/crud_user.cpython-310.pyc
app/models/__pycache__/__init__.cpython-310.pyc
app/models/__pycache__/attendance.cpython-310.pyc
app/models/__pycache__/course.cpython-310.pyc
app/models/__pycache__/lead.cpython-310.pyc
app/models/__pycache__/student_course.cpython-310.pyc
app/models/__pycache__/student.cpython-310.pyc
app/models/__pycache__/teacher_course.cpython-310.pyc
app/models/__pycache__/teacher.cpython-310.pyc
app/models/__pycache__/user.cpython-310.pyc
app/routes/__pycache__/__init__.cpython-310.pyc
app/routes/__pycache__/admin.cpython-310.pyc
app/routes/__pycache__/auth.cpython-310.pyc
app/routes/__pycache__/courses.cpython-310.pyc
app/routes/__pycache__/home.cpython-310.pyc
app/routes/__pycache__/login.cpython-310.pyc
app/routes/__pycache__/teachers.cpython-310.pyc
database/database.db
