* {
    margin: 0;
    padding: 0;
    font-family: serif;
}

.background {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.main {
    position: fixed;
    display: grid;
    grid-template-columns:[y1] 10px [start] auto [end] 10px [y2];
    grid-template-rows: [nav1] 75px [nav2] 74px [nav3] 2vh [r1] auto [end];
    width: 100%;
    height: 100%;
}
/* ----------NAV-BAR---------- */

.navbar {
    grid-column-start: y1;
    grid-column-end: y2;
    grid-row-start: nav1;
    grid-row-end: nav2;
    display: grid;
    grid-template-columns: [c1] 200px [c2] 400px [c3] auto [c4] 200px [end];
    background-color: #F5C347;
    border: 1px solid black;
}

.logo {
    grid-column-start: c1;
    grid-column-end: c2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    gap: 10%;
    color: black;
}

.logo > a {
    text-decoration: none;
    font-weight: 700;
    color: black;
    font-size: 300%;
}


.nav_search {
    grid-column-start: c2;
    grid-column-end: c3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inp_search {
    width: 200px;
    height: 32px;
    padding: 0 15px;
    font-size: 22px;
    color: #5E6472;
    outline: none;
    border: 1px solid black; 
    border-radius: 10px;
}

.search_checkbox {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.nav_login {
    grid-column-start: c4;
    grid-column-end: end;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 30px;
    width: max-content;
    background-color: black;
    border-radius: 20px;
}

.login > a {
    text-decoration: none;
    color: #ffffff;
    font-size: 140%;
}

.nav_links {
    display: flex;
    flex-direction: row-reverse;
    gap: 25px;
    align-items: center;
}
.nav_link {
    text-decoration: none;
    color: black;
    font-size: 135%;
}

/* ----------END---------- */


/* ----------LOGIN---------- */
.section_login {
    grid-column-start: y1;
    grid-column-end: y2;
    grid-row-start: nav1;
    grid-row-end: end;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5C347;
}

.login_con {
    width: 680px;
    height: 700px;
    display: grid;
    grid-template-columns: [c1] 2% [c2] auto [c3] 2% [c4];
    grid-template-rows: [r1] 2% [r2] 25% [r3] 17.75% [r4] 17.75% [r5] 17.75% [r6] 17.75% [r7] 2% [r8];
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.35);

}

.header,
.form_field_1,
.form_field_2,
.form_field_3,
.form_field_4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    grid-column-start: c2;
    grid-column-end: c3;
    grid-row-start: r2;
    grid-row-end: r3;

}

.header > h2 {
    color: black;
    font-size: 400%;
    font-weight: 600;
}

.form_field_1 {
    grid-column-start: c2;
    grid-column-end: c3;
    grid-row-start: r3;
    grid-row-end: r4;

}

.form_field_2 {
    grid-column-start: c2;
    grid-column-end: c3;
    grid-row-start: r4;
    grid-row-end: r5;
}

.form_field_3 {
    grid-column-start: c2;
    grid-column-end: c3;
    grid-row-start: r5;
    grid-row-end: r6;
}

.form_field_4 {
    grid-column-start: c2;
    grid-column-end: c3;
    grid-row-start: r6;
    grid-row-end: r7;
}

.field_item{
    width: 70%;
    height: 40px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #3e403f;
    border: 1px solid black; 
    border-radius: 10px;
}

.form_input {
    width: 80%;
    padding: 0 15px;
    font-size: 18px;
    color: #5E6472;
    outline: none;
    border: none; 
}

.btn-login {
    width: max-content;
    padding: 4px 30px;
    height: 40px;
    color: #F5C347;
    background-color: black;
    font-size: 150%;
    border-radius: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
}


.btn-login:hover {
    box-shadow: none;
    color: #ffffff;
}

/* ----------END---------- */

/* ----------ADMIN---------- */
.section_admin {
    grid-column-start: col3;
    grid-column-end: col4;
    grid-row-start: row2;
    grid-row-end: end;

    display: grid;
    grid-template-rows: [r1]20%[r2]20%[r3]20%[r4]20%[r5];
}

.con_1 {
    grid-row-start: r1;
    grid-row-end: r2;
}

.con_2 {
    grid-row-start: r2;
    grid-row-end: r3;
}

.con_3 {
    grid-row-start: r3;
    grid-row-end: r4;
}

.con_4 {
    grid-row-start: r4;
    grid-row-end: r5;
}

/* ----------END---------- */

/* ----------PROFILE---------- */

.section_profile {
    grid-column-start: col3;
    grid-column-end: col4;
    grid-row-start: row2;
    grid-row-end: end;

}

.student_con {
    width: 100%;
    height: 100%;
    display: grid;
    
}

.student_con > .field_item {
    background-color: red;
    width: 100%;
}