




.section_work_place {
    grid-column-start: c1;
    grid-column-end: c3;
    grid-row-start: r2;
    grid-row-end: r4;

    display: grid;
    grid-template-columns:[c1] 50% [c2] 50% [c3];
    grid-template-rows: [r1] 455px [r2] 125px [r3] auto [r4];
}

.todo_con {
    grid-column-start: c1;
    grid-column-end: c3;
    grid-row-start: r1;
    grid-row-end: r2;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #FFBF00;
    border: 1px solid black;
}

.teacher_work_place_header{
    grid-column-start: c1;
    grid-column-end: c3;
    grid-row-start: r2;
    grid-row-end: r3;

    display: flex;
    justify-content: center;
    align-items: center;
}

.teacher_action_header{
    grid-row-start: r3;
    grid-row-end: r4;
}

.student_grade_field {
    grid-column-start: c1;
    grid-column-end: c3;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 25px 200px;
}

.teacher_courses_form {
    display: grid;
    grid-template-columns: [c1] 180px [c2] 145px [c3];
    padding: 25px 8px;
}

.teacher_course_name{
    grid-column-start: c1;
    grid-column-end: c2;

    width: 140px;
    padding: 1px 3px;
    font-size: 115%;
    border-radius: 10px;
}

.btn_teacher_course {
    grid-column-start: c2;
    grid-column-end: c3;

    width: max-content;
    padding: 4px 22px;
    background-color: black;
    color: #ffffff;
    font-size: 125%;
    border-radius: 20px;
    border: none;
}

.student_grade_form {
    display: grid;
    grid-template-columns: [c1] 180px [c2] 80px [c3] 145px [c4];
    border-bottom: 1px solid #3e403f;
    padding-top: 15px;
    padding-bottom: 4px;
    gap: 15px;
}

.student_grade_name {
    grid-column-start: c1;
    grid-column-end: c2;
    
    padding-left: 8px;
    font-size: 125%;

}

.inp_student_grade {
    grid-column-start: c2;
    grid-column-end: c3;
    font-size: 125%;
    width: 55px;
    height: max-content;
}

.btn_student_grade {
    grid-column-start: c3;
    grid-column-end: c4;

    width: max-content;
    padding: 4px 22px;
    background-color: black;
    color: #ffffff;
    font-size: 125%;
    border-radius: 20px;
    border: none;

}
.student_message_field {
    grid-column-start: c2;
    grid-column-end: c3;
    grid-row-start: r2;
    grid-row-end: r3;


    display: flex;
    justify-content: center;
    align-items: center;

}