.section_teacher {
  grid-column-start: c1;
  grid-column-end: c3;
  grid-row-start: r2;
  grid-row-end: r4;

  display: grid;
  grid-template-rows: [r1] 54px [r2] 410px [r3] auto [r4];
  overflow: scroll;
}

/* ----------SUB-NAV---------- */

.teacher_subnav {
  grid-row-start: r1;
  grid-row-end: r2;

  display: grid;
  grid-template-columns: [c1] max-content [c2] auto [c3];

  background-color: black;
}

.teacher_header {
  grid-column-start: c1;
  grid-column-end: c2;

  align-self: center;
  padding-left: 25px;

  color: #ffffff;
  font-size: 175%;
}

.teacher_links {
  grid-column-start: c2;
  grid-column-end: c3;

  padding-right: 225px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 25px;
}

.teacher_link {
  text-decoration: none;
  color: #ffffff;
  font-size: 135%;
}
/* ----------END---------- */

/* ----------TEACHER-TODO---------- */

.todo_con {
  grid-row-start: r2;
  grid-row-end: r3;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #FFBF00;
  border: 1px solid black;
}

/* ----------END---------- */

/* ----------ATTENDANCE---------- */

.teacher_attendance_card{
  grid-row-start: r3;
  grid-row-end: r4;

  display: grid;
  grid-template-rows: [r1] 40px [r2] 40px [r3] 40px [r4] auto [r5];

  padding: 25px;
}

.attendance_date {
  grid-row-start: r3;
  grid-row-end: r4;

  display: flex;
  flex-direction: column;
}

.attendance_form {
  grid-row-start: r4;
  grid-row-end: r5;

  display: grid;
  grid-template-columns: [c1] 100px [c2] max-content [c3] 50px [c4];
  column-gap: 15px;

  padding-top: 10px;
  padding-bottom: 5px;

  border-bottom: 1px solid #cccccc;
  width: max-content;

}

.attendance_radio {
  grid-column-start: c2;
  grid-column-end: c3;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.student_name {
  text-decoration: none;
  color: black;
}

.attendance_btn {
  grid-column-start: c3;
  grid-column-end: c4;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 15px;
  background-color: black;
  color: #ffffff;
  font-size: 125%;
  width: 65px;
  height: 25px;
}


/* ----------END---------- */
  