{% extends "base.html" %}
{% block css %}/static/css/admin.css{% endblock %}
{% block title %}Admin{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<div class="section_admin">
    {% include 'admin-navbar.html'%}
    <div class="admin_inner">

        <div class="admin_con_1">
            <form action="" method="post" class="admin_update_course">
            
            </form>
            <form action="" method="post" class="admin_update_course">
            
            </form>
        </div>

        <div class="admin_con_2">
            <form method="post" class="admin_add_course">
                <input class="inp_add_course" type="text" name="course_name" placeholder="Course Name">
                <input class="inp_add_course" type="text" name="course_desc" placeholder="Course Desc">
                <input class="btn_add_course" type="submit" name="add_course" value="Add Course">
            </form>
        </div>

    </div>
</div>
{% endblock %}