/* ----------LOGIN---------- */
.section_login {
  grid-row-start: r2;
  grid-row-end: r3;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #FFBF00;
}

.login {
  width: 500px;
  height: 500px;

  display: grid;
  grid-template-columns: 50px [c1] auto [c2] 50px;
  grid-template-rows: 20px [r1] 80px [r2] 40px [r3] 40px [r4] 50px [r5] 70px [r6] 20px;
  row-gap: 30px;

  border-radius: 15px;
  background-color: #22222210;
  box-shadow: 0px 4px 4px 0px #22222225;
}

.header {
  grid-column-start: c1;
  grid-column-end: c2;
  grid-row-start: r1;
  grid-row-end: r2;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

input[type="email"] {
  grid-column-start: c1;
  grid-column-end: c2;
  grid-row-start: r2;
  grid-row-end: r3;
}

input[type="password"] {
  grid-column-start: c1;
  grid-column-end: c2;
  grid-row-start: r3;
  grid-row-end: r4;
}

input[type="email"],
input[type="password"] {
  width: 370px;
  height: 40px;
  padding: 0px 15px;

  border: 1px solid #222222;
  border-radius: 5px;
  font-size: 18px;
  background: #ffffff;
  color: #222222;
}

input[type="email"]:hover,
input[type="password"]:hover,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #222222;
}


input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="email"]:active,
input[type="password"]:active {
  background: #ffffff;
}

input:-webkit-autofill {
  background: #ffffff;
}

.btn-login {
  grid-column-start: c1;
  grid-column-end: c2;
  grid-row-start: r4;
  grid-row-end: r5;
  width: 400px;
  height: 50px;

  background-color: #222222;
  border-radius: 15px;
  border: none;
  color: #ffffff;
  font-size: 20px;
}

.message {
  grid-column-start: c1;
  grid-column-end: c2;
  grid-row-start: r5;
  grid-row-end: r6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}
/* ----------END---------- */
