* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 120px)) repeat(10, minmax(60px, 1fr));
    grid-template-rows: 75px auto;
    column-gap: 20px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
}

.grid_3 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 11;
}

.navbar {
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: 1;
    grid-row-end: 2;
    
    width: 100%;
    background-color: red ;
}

.sidenav {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: end;
    background-color: blue;
  }