{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<div class="section_admin">

    <div class="con_1">
        <fieldset>
            <legend>New user registration</legend>
            <form action="/new_user" method="POST">
                <input type="email" name="email" id="" placeholder="Email...">
                <input type="password" name="password" id="" placeholder="Password...">
                <select name="role" id="">
                    <option value="Student">Student</option>
                    <option value="Teacher">Teacher</option>
                </select>
                <input type="submit" value="Enter">
            </form>
        </fieldset>
    </div>
    
    <div class="con_2">
        <fieldset>
            <legend>Create new Course</legend>
            <form action="/new_course" method="POST">
                <input type="text" name="name" placeholder="Course Name...">
                <input type="text" name="desc" placeholder="Course Description...">
                <input type="submit" value="Add">
            </form>
        </fieldset>
    </div>

    <div class="con_3">
        <fieldset>
            <legend>Add Teacher to Course</legend>
            <form action="/add_active_course" method="POST">
                <select name="course_id" id="">
                    {% for course in courses %}
                    <option value="{{ course[0] }}"><p>{{ course[1] }}</p></option>
                    {% endfor %}
                </select> 
                <select name="teacher_id" id="">
                    {% for teacher in teachers %}
                    <option value="{{ teacher[0] }}"><p>{{ teacher[2] }}</p></option>
                    {% endfor %}
                </select> 
                <input type="date" name="start_date" id="">
                <input type="date" name="end_date" id="">
                <input type="submit" value="Add">
            </form>
        </fieldset>
    </div>

    <div class="con_4">
        <fieldset>
            <legend>Add Student to Course</legend>
            <form action="/add_student_to_active_course" method="post">
                <select name="course_id" id="">
                    {% for course in active_courses %}
                    <option value="{{ course[0] }}"><p>{{ course[0] }}</p></option>
                    {% endfor %}
                </select>
                <select name="student_id" id="">
                    {% for student in students %}
                    <option value="{{ student[0] }}"><p>{{ student[2] }}</p></option>
                    {% endfor %}
                </select> 
                <input type="submit" value="add">
            </form>
        </fieldset>
    </div>

</div>
{% endblock %}