<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <details>
        <summary></summary>
        <nav class="menu">
          <a href="/">Home</a>
          <a href="#link">Link</a>
          <a href="#link">Link</a>
          <a href="/register">Register</a>
          <a href="/login">Login</a>
        </nav>
      </details>
    {% block content %}
    {% endblock %}
</body>
</html>