<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="{% block css %}{% endblock %}">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://kit.fontawesome.com/ebab69fd69.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="background"></div>
  <div class="main">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
