{% extends "base.html" %}
{% block css %}/static/css/home.css{% endblock %}
{% block title %}Home Page{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<div class="section_register">
    <form class="con_register" action="/register" method="POST">
        <div class="register_header">
            <p style="font-size: 300%; font-weight: 700;">Join us</p>
            <p style="font-size: 135%;">leave your details below</p>
        </div>
        <div class="register_field_1">
            <input class="inp_register" name="name" type="text" placeholder="Name">
        </div>
        <div class="register_field_2">
            <select class="inp_register" name="course_id" style="width: 215px; height: 31px;">
                <option hidden>Course</option>
            {% for course in courses %}
                <option value="{{ course[0][0] }}">{{ course[1] }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="register_field_3">
            <input class="inp_register" name="phone" type="text" placeholder="Phone">
        </div>
        <div class="register_field_4">
            <input class="inp_register" name="email" type="text" placeholder="Email">
        </div>
        <div class="register_field_5">
            <input class="btn_register" type="submit" value="Leave Details">
        </div>
    </form>

    <div class="con_content">
        <div class="content_header">
            <p style="font-size: 500%; font-weight: 700;">Logo</p>
        </div>
        <div class="content_inner">
            <div class="content_text">
                <p style="font-size: 135%;">Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla </p>
                <p style="font-size: 135%;">Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla </p>
                <p style="font-size: 135%;">Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla </p>
                <p style="font-size: 135%;">Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla </p>
                <p style="font-size: 135%;">Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla </p>
                <p style="font-size: 135%;">Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla </p>
                <p style="font-size: 135%;">Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla </p>
                <p style="font-size: 135%;">Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla </p>
                <p style="font-size: 135%;">Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla </p>
                <p style="font-size: 135%;">Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla </p>
                <p style="font-size: 135%;">Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla </p>
                <p style="font-size: 135%;">Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla </p>
            </div>
        </div>
    </div>
</div>

<div class="home_inner">
    {% for course in new_courses %}
    <p>{{ course }}</p>
    {% endfor %}
</div>
{% endblock %}