<div class="navbar">

    <div class="logo">
        <a href="/">Logo</a>
    </div>

    <form class="nav_search" action="/search">
        <input class="inp_search" type="text" name="search" placeholder="Search...">
        <div class="search_checkbox">
            <div class="search_item_4">
                <input type="checkbox" name="course" id="course" value="nn">
                <label for="course">Courses</label>
            </div>
            <div class="search_item_2">
                <input type="checkbox" name="teacher" id="teacher">
                <label for="teacher">Teacher</label>
            </div>
            <div class="search_item_3">
                <input type="checkbox" name="studet" id="student">
                <label for="student">Student</label>
            </div>
        </div>
    </form>

    <div class="nav_links">
        {% if session["role"] == "Student"%}
        <a href="" class="nav_link">Profile</a>
        {% elif session["role"] == "Teacher"%}
        <a href="" class="nav_link">Profile</a>
        {% elif session["role"] == "Admin"%}
        <a href="/control_panel" class="nav_link">Control Panel</a>
        {% endif %}
        <a href="/courses" class="nav_link">Courses</a>
        <a href="" class="nav_link">Teachers</a>
        <a href="" class="nav_link">Students</a>
    </div>
    
    <div class="nav_login">
        <div class="login">
            {% if session["role"] == "anonymous"%}
            <a href="/login">login</a>
            {% else %}
            <a href="/logout">Logout</a>
            {% endif %}
        </div>
    </div>

</div>
