
<div class="logo">
  <i class="fa-solid fa-building-columns"></i>
  <a href="/home">Logo</a>
</div>
<div class="side_nav">
      <a href="/course"><i class="fa-solid fa-microchip"></i>Courses</a>
      <a href="/teacher"><i class="fa-solid fa-chalkboard-user"></i>Teachers</a>
      <a href="/student"><i class="fa-solid fa-graduation-cap"></i>Students</a>
      <a href="/"><i class="fa-solid fa-right-to-bracket"></i>Login</a>
      <a href="/admin"><i class="fa-solid fa-gear"></i>Admin</a>
</div>
