{% extends "base.html" %}

{%block title %}Students Page{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="section_profile">
        <form class="student_con" action="" method="POST" enctype="multipart/form-data">
            <div class="field_item_1">
                <p>Name : </p>
                {{ student_info }}
                <input type="text" name="name" placeholder="New Name...">
            </div>
            <div class="field_item_2">
                <p>Image : </p>
                <input type="file" name="image">
            </div>
            <div class="field_item_3">
                <p>Gender : </p>
                {{ student_info[4] }}
                <select name="gender" id="">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div class="field_item_4">
                <p>Birth Date : </p>
                {{ student_info[5] }}
                <input type="date" name="date">
            </div>
            <div class="field_item_6">
                <p>Phone Number : </p>
                {{ student_info[6] }}
                <input type="text" name="phone" placeholder="New Phone Number" >
            </div>
            <div class="field_item_5">
                <p>Address : </p>
                {{ student_info[7] }}
                <input type="text" name="address" placeholder="New Address">
            </div>
            <div class="field_item_6">
                <input type="submit" value="Enter">
            </div>
        </form>
    </div>
{% endblock %}