{% extends "base.html" %}
{% block css %}/static/css/teacher.css{% endblock %}
{% block title %}Work Place{% endblock %}
{% block content%}
{% include 'navbar.html' %}

<div class="section_teacher">
  {% include 'teacher-subnav.html' %}

  <div class="teacher_attendance_card">
    <form action="" method="get">
      <select name="course_id">
        <option hidden value="0">{% if course != '' %}{{ course }}{% else %}Select Course{% endif %}</option>
        {% for course in courses %}
        <option value="{{ course[1] }}">{{ course[0] }}</option>
        {% endfor %}
      </select>
      <input type="date" name="date" value="{% if date != '' %}{{ date }}{% else %}{{current_date}}{% endif %}">
      <input type="submit" value="View">
    </form>

    {% if course != "" %}
    <div class="attendance_date">
      <p>Date: {{ date }}</p>
    </div>

    <div class="attendance_header">
      <p>Attendance for {{ course }}</p>
    </div>
    {% endif %}

    {% for student in student_attendance %}
    <div class="attendance_students">
      <form method="post" class="attendance_form">
        <input type="hidden" name="class_id" value="{{ student[0] }}">
        <input type="hidden" name="att_date" value="{{ date }}">
        <a href="/student_view/{{ student[2] }}" class="student_name">{{ student[1] }}</a>
        <div class="attendance_radio">
          <input type="radio" name="att_status" value="Yes" id="Yes"
            {% if student[3] == 'Yes'%} checked {% endif %}>
          <label for="Yes">Yes</label>
          
          <input type="radio" name="att_status" value="No" id="No"
            {% if student[3] == 'No'%} checked {% endif %}>
          <label for="No">No</label>
        </div>
        <input type="submit" value="Set" class="attendance_btn">
      </form>
      {% endfor %}
    </div>
  </div>

  <div class="students_date_attendance_card">
    
  </div>
</div>
{% endblock %}
