<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>

    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="{% block css %}{% endblock %}"/>

    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    <div class="main">
      <div class="navbar">
        <div class="logo"><a href="/">DogCode</a></div>

        <form class="nav_search" action="/search">
          <input class="inp_search" id="inp_search" type="text" name="search"
                 placeholder="Search..." />
        </form>
      
        <div class="nav_links">
          {% if session["role"] == "Student"%}
          <a href="/student_wp">Work Place</a>
          {% elif session["role"] == "Teacher"%}
          <a href="/teacher_wp">Work Place</a>
          {% elif session["role"] == "Admin"%}
          <a href="/admin_wp">Work Place</a>
          {% endif %}
          <a href="">Courses</a>
          <a href="">Teachers</a>
        </div>
      
        <div class="nav_login">
          {% if session["role"] == "anonymous"%}
            <a href="/login">login</a>
          {% else %}
            <a href="/logout">Logout</a>
          {% endif %}
        </div>
      </div>
      
      {% block content %}
      {% endblock %}
      
      <footer>
        sfdgsdf
      </footer>
    </div>
  </body>
</html>
