{% extends "base.html" %}
{% block css %}courses.css{% endblock %}
{%block title%}Courses{% endblock %}
{% block content %}

<div class="section_courses">
  <div class="header">
    <p>
      Experience the power of coding and unleash your potential with our
      comprehensive and hands-on courses, designed to equip you with the
      skills, knowledge, and confidence to build anything you can imagine
      and take your career to the next level.
    </p>
  </div>

  <div class="inner_content">
    
  </div>
</div>
{% endblock %}