{% extends "base.html" %}
{% block css %}home.css{% endblock %}
{% block title %}DogCode{% endblock %}
{% block content %}

<div class="inner">
    <div class="inner_tagline">
        <h1>
            Learn new skills,<br>
            pursue a rewarding profession,<br>
            and achieve success with DogCode.
        </h1>
        <h2>
            Our cutting-edge curriculum and expert guidance will help you unlock your <br>
            coding potential and realize your dreams in the world of tech.
        </h2>
    </div>

    <div class="inner_stat">
        <div class="stat_card">

        </div>
        <div class="stat_card">
            
        </div>
        <div class="stat_card">
            
        </div>
        <div class="stat_card">
            
        </div>
    </div>

    <form action="/lead" method="post" class="lead">
        <div class="lead_tagline">
            <h1 style="font-size: 32px; font-weight: bold;">Join us</h1>
            <h2 style="font-size: 24px; font-weight: bold;">leave your details below</h2>
        </div>
        <input type="text" name="name" class="lead_name" placeholder="Name">
        <select name="course_id" class="lead_course">
            <option hidden>Courses</option>
            {% for course in courses %}
            <option value="{{ course.course_id }}">{{ course.name }}</option>
            {% endfor %}
        </select>
        <input type="text" name="phone" class="lead_phone" placeholder="Phone">
        <input type="text" name="email" class="lead_email" placeholder="Email">
        <input type="submit" class="btn_lead" value="Leave Details">
    </form>
</div>
{% endblock %}