{% extends "base.html" %}
{% block css %}login.css{% endblock %}
{%block title %}Login Page{% endblock %}
{% block content %}
<div class="section_login">
  <form class="login" action="" method="POST">
    <div class="header">
      <h1 style="font-size: 32px; font-weight: 500;">Welcome back!</h1>
      <h2 style="font-size: 24px; font-weight: 500;">Let's continue learning together.</h2>
    </div>
    <input name="email" type="email" placeholder="User Name / Email">
    <input name="password" type="password" placeholder="Password">
    <input class="btn-login" type="submit" value="Login">
    {% if message %}<p class="message">{{ message }}</p>{% endif %}
  </form>
</div>
{% endblock %}