{% extends "base.html" %}
{% block css %}teacher.css{% endblock %}
{%block title%}Teachers{% endblock %}
{% block content %}

<div class="section_teachers">
  <div class="header">
    <p>
      At our programming college, our teachers are more than just instructors -
      they are passionate educators who are dedicated to helping you unlock your
      full potential, both in coding and in life. Our highly skilled and diverse
      faculty bring a wealth of real-world experience and industry insights to
      the classroom, providing personalized guidance and support to help you
      achieve your goals.
    </p>
  </div>
  <div class="inner_content">
    <script type="text/babel" src="/static/js/teachers.js"></script>
    <div class="teachers"></div>
  </div>
</div>

{% endblock %}
